.sidebar_container {
    position: fixed;
    bottom: 0;
    left:0;
    width: 200px !important;
    height: 100%;
    background:  #070707;
    z-index:99;
    padding:20px;
    
}
.sidebar_container .img {
    height: 150px;
    width:200px;
    padding-left: 20px;
    padding-bottom: 50px;
}
li {
    color: white;
    padding-left: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}
li .active {
    border-left: 2px solid wheat;
    padding-left: 10px;
}
