
.App {
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius:30px;
  height: 100;
  width:100;
  background-color: black;
}

/* CSS for Player components */
.player {
  display: block;
  background-image: linear-gradient(to bottom, blue, pink);
  margin:0px auto;
  padding:50px;
  border-radius: 16px;
  box-shadow: inset -3px -3px 3px rgba(195,126,34,1),
  inset -5px -5px 5px rgba(225,126,34,1);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* copy paste job */
.player .h3 {
  color: #c4125c;
  text-shadow: 2px 2px #510202;
  justify-content: center;
  display: flex;
  font-size: 2.5em;
  margin-block-start: 0.70em;
  margin-block-end: 0.70em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}

.player > h4:hover {
  color: #fff;
}

.player > p {
  color: rgb(56, 52, 52);
  font-size: 14px;
  font-weight: 550;
  text-align: center;
}


/* Details Components */

.details .details-img {
  position: relative;
  width: fit-content;
  margin: 30px auto;
}

.music-player--details .details-img img {
  display: block;
  margin: 0px auto;
  width: 100%;
  max-width: 240px;
  border-radius: 30%;
}

.details_image image:hover {
  display: block;
  margin: 0px auto;
  width: 100%;
  max-width: 240px;
  border-radius: 30%;
  box-shadow: 5px 5px rgba(98, 0, 41, 0.4), 10px 10px rgba(98, 0, 57, 0.3),
    15px 15px rgba(98, 0, 57, 0.2), 20px 20px rgba(98, 0, 69, 0.1),
    25px 25px rgba(98, 0, 33, 0.05);
  transform: scale(1.2);
  transition: all 0.3s;
}

.details .details_title {
  color: rgb(14, 10, 10);
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-bottom: 10px;
}

.details .details_artist {
  color: rgb(17, 9, 16);
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(232, 221, 221, 0.8);
  text-align: center;
  margin-bottom: 20px;
}

/* Controls Components  */

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.controls .control_playButton {
  display: flex;
  margin: 0 30px;
  padding: 30px;
  border-radius: 100%;

  border: none;
  outline: none;
  background-color: rgba(228, 82, 174, 0.9);
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.4s;
}

.controls .control_playButton:hover {
  box-shadow: 1px 2px 40px rgba(54, 42, 42, 0.8);
  transition: all 0.3s;
}

.controls .control_SkipButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 38px;
  transition: all 0.4s;
}

.controls_SkipButton:hover {
  transform: scale(1.5);
}
.controls .control_ShuffleButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 38px;
  transition: all 0.4s;
}

.controls_SkipButton:hover {
  transform: scale(1.5);
}



/* Details Components */

.nextsong-details {
  display: flex;
  flex-direction: row;
  padding: 1px;
  margin-left: 40px;
  height: 4em;
}

.nextsong-details img {
  box-shadow: 5px 5px rgba(98, 0, 41, 0.4), 10px 10px rgba(98, 0, 57, 0.3),
    15px 15px rgba(98, 0, 57, 0.2), 20px 20px rgba(98, 0, 69, 0.1),
    25px 25px rgba(98, 0, 33, 0.05);
}

.nextsong-details p {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-left: 20px;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(129, 129, 129, 0.4);
}

